.so-widget-ink-divider-divider-1edbb9e03ebf .iw-so-divider {
  border-top-style: none;
  border-top-width: 3px;
  border-top-color: #333333;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.so-widget-ink-divider-divider-1edbb9e03ebf .iw-so-divider-top {
  height: 0px;
}
.so-widget-ink-divider-divider-1edbb9e03ebf .iw-so-divider-bottom {
  height: 0px;
}