.so-widget-ink-divider-divider-07606ec94328 .iw-so-divider {
  border-top-style: double;
  border-top-width: 45px;
  border-top-color: #262626;
  width: 180%;
  margin-left: auto;
  margin-right: auto;
}
.so-widget-ink-divider-divider-07606ec94328 .iw-so-divider-top {
  height: 20px;
}
.so-widget-ink-divider-divider-07606ec94328 .iw-so-divider-bottom {
  height: 0px;
}